<div class="container">
<div class="form-group">
  <label for="nombre">Nombre Completo</label>
  <input type="text" class="form-control" id="nombre" placeholder="Introdusca el nombre" [(ngModel)]="nombre">
</div>
<div class="form-group">
  <label for="fechaNacimiento">Fecha Nacimiento</label>
  <input type="date" class="form-control" id="fechaNacimiento" placeholder="Escoja la fecha"
         [value] ="fechaNacimiento | date:'yyyy-MM-dd'"
         (input)="onChangeAsignarEdad($event)">
</div>
<div class="form-group">
  <label for="edad">Edad</label>
  <input type="number" [(ngModel)]="edad" class="form-control" id="edad" placeholder="Edad Calculada en base fecha Nacimiento" [disabled]="true">
</div>
<button type="button" class="btn btn-primary" (click)="onClickGuardarDatos()">Agregar</button>
</div>

<div class="container">
  <h3>Agenda </h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Edad</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agenda of agendas; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ agenda.nombre}}</td>
      <td>{{ agenda.fechaNacimiento | date:'yyyy-MM-dd' }}</td>
      <td>{{ agenda.edad }}</td>
    </tr>
    </tbody>
  </table>
</div>




